/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

/* Navbar Styles */
nav {
  background-color: #004d99; /* Dark Blue */
  color: white;
  padding: 10px 0;
}

nav h1 {
  margin: 0;
}

/* Jersey Container Styles */
.jersey-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Jersey Card Styles */
.jersey-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Fixed width for consistency */
  text-align: left;
}

.jersey-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.jersey-card h3 {
  margin: 10px 0 5px;
}

.jersey-card p {
  margin: 5px 0;
}

.jersey-card button {
  background-color: #008CBA; /* Button Color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.jersey-card button:hover {
  background-color: #006080; /* Darker Button Color */
  color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
/* App.css */

table {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



